.options {
  position: relative;
  top: 50px;
}

.spacer {
  flex: 1 auto;
}

.container {
  position: relative;
  top: 20px;
}

.input {
  width: 100%;
}

.cards {
  position: relative;
  top: -2px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.imgUserRank {
  width: 50px;
  height: 50px;
}

.imgUserPic {
  width: 70px;
  height: 70px;
  border-radius: 10000px;
}

.selected {
  background-color: #008dd7;
  color: #FFF;
  position: relative;
  left: 5px;
}

.scrollpane {
  height: 85vh;
  overflow-y: scroll;
  border-bottom: 1px solid black;
}

form  mat-card {
  margin-bottom: 5px;
}
