<div fxLayoutAlign="center">
  <div
    class="container"
    fxLayout="row wrap"
    fxFlex="90%">
    <div
      fxLayout="column"
      fxFlex="20%"
      fxFlex.lt-md="100%"
      fxLayoutGap="10px">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <mat-form-field class="input">
          <input matInput type="text" placeholder="Søg..." class="input" formControlName="search">
        </mat-form-field>
        <span *ngIf="!(isHandset$ | async)">
          <mat-card
            *ngFor="let opt of options"
            [ngClass]="selected === options.indexOf(opt) ? 'selected' : ''"
            (click)="selected = options.indexOf(opt)"
            (click)="onSort()">
            <mat-card-content>
              {{ opt }}
            </mat-card-content>
          </mat-card>
        </span>
        <span
          *ngIf="(isHandset$ | async)">
          <mat-form-field>
            <mat-select placeholder="Vælg Sortering" class="input" fxFlex.lt-md="100%">
              <mat-option
                *ngFor="let opt of options"
                [value]="options.indexOf(opt)"
                (click)="selected = options.indexOf(opt)"
                (click)="onSort()">{{ opt }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </span>
      </form>
    </div>
    <span class="spacer"></span>
    <div
      fxFlex="78%"
      fxFlex.lt-md="100%"
      class="cards"
      fxLayout="column"
      fxLayoutGap="10px">
      <mat-accordion class="example-headers-align">
        <div class="scrollpane" (scroll)="onScroll(scrollpane)" #scrollpane>
          <mat-expansion-panel
            [expanded]="1 === 0"
            *ngFor="let user of users">
            <mat-expansion-panel-header>
              <mat-panel-title>
                #{{ user.rank }}
              </mat-panel-title>
              <mat-panel-description>
                {{ user.twitchname}}
              </mat-panel-description>
              <mat-panel-description>
                KDA {{ user.kda }}
              </mat-panel-description>
              <mat-panel-description>
                {{ user.winLoss }}% W/L
              </mat-panel-description>
              <mat-panel-description>
                {{ user.point }}P
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-panel-description class="panelContent">
              <p fxLayout="column"
                 fxLayoutAlign="center center">
                <img fxLayout="column"
                     fxLayoutAlign="center center"
                     class="imgUserPic"
                     src="{{ user.imageUrl }}"
                     alt="UserPic">

              </p>


              <p>Wins: {{ user.wins }}
                <br>
                <br>
                Loss: {{ user.losses }}</p>
              <p>Kills: {{ user.kills }}
                <br>
                <br>
                Deaths: {{ user.deaths }}</p>
              <p>Assists: {{ user.assists }}
                <br>
                <br>
                <br></p>
              <p></p>
              <p></p>
            </mat-panel-description>
          </mat-expansion-panel>
        </div>
      </mat-accordion>
    </div>
  </div>
</div>
