<div class="container" fxLayoutAlign="center">
  <div fxFlex="80%" fxFill="80">
    <h2 fxFlexFill="80">InHouse Guidelines:</h2>
    <h5>Det foregår på EUW. Man skal joine Teamspeak</h5>
    <h5>Husk at kommunikere med dit team under gamet.</h5>
    <a href="ts3server://91.134.141.134">Connect til Teamspeak serveren</a>
    <h2>MAN KAN SKRIVE SIG OP TIL INHOUSE GAMES VED AT SKRIVE FØLGENDE I STREAMCHATTEN PÅ TWITCH.TV/ULLECHAMP</h2>
    <h5>!Inhouse Summonername</h5>
    <h5>f.eks. !InHouse UlleChamp</h5>
    <h5>Når man er blevet inviteret til et InHouse game, hopper man ind i “InHouse Lobby” kanalen på teamspeak.</h5>
    <h5>Der bliver valgt to vælgere, Henholdsvis Team 1 & Team 2. Man afgør hvem der vælger først ved at skrive “!penis”
      i streamchatten, den der har den største vælger først. Skriv navnet på den du vælger i gamelobby chatten.</h5>
    <h5>Når man er blevet valgt, hopper man op i det teamspeak rum der svarer til Team 1 eller 2.</h5>
    <h2>Når gamet er færdigt, er det vigtigt at du ikke begynder at skrive dig i que til næste game, eller skriver om
      gamet i stream chatten, da der er ca 3½ min delay, så de folk der ser med, helst ikke skal have nogle
      spoilers.</h2>
    <h5>Husk at give plads til nye spillere, så du ikke automatisk skriver dig op til nyt game, så snart du er blevet
      invitet til det igangværende game.</h5>
    <h5>old en god tone i Teamspeak samt ingame. Selvfølgelig skal der være plads til at “stikke” lidt til hinanden, men
      hold det på en venskabeligt plan.</h5>
    <h5>Husk at du kan bette på hvilket hold der vinder, der bliver åbnet for bets så snart alle champs er blevet
      valgt:</h5>
    <h5>Først checker du hvor mange sunlolly’s du har ved at skrive “!sunlolly”</h5>
    <h5>Derefter kan du bette på følgende måde.</h5>
    <h5>Blåt Team = !bets xxx 1</h5>
    <h5>Rødt Team = !bets xxx 2</h5>
    <h5>NB: Husk at checke over dit hold om dit holdnavn står med rødt eller blåt, hvis du vil bette på dig selv.</h5>
    <h5>Når gamet er done på stream vil de vindende bets modtage deres sunlolly’s</h5>
    <h5>Lad os have nogle sjove games sammen!</h5>
  </div>
</div>
