@import url('https://fonts.googleapis.com/css?family=Raleway:300|Unlock');

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: #283044;
  position: absolute;
  border: transparent;
}

.mat-toolbar {
  background: -webkit-linear-gradient(left, #283044 0%,#283044 10%,#9b2915 43%,#283044 80%,#283044 100%);
  position: fixed;
  height: 76px;
  z-index: 1;
}

.navBtn {
  color: #ffffffcf;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  background-color: transparent;
  border: transparent;
}

.loginBtn {
  color: #ffffffcf;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  background-color: #6441A4;
}

.spacer {
  flex: 1 auto;
}

.navBtn:focus, .loginBtn:focus {
  outline: 0;
}

.navBtn:hover {
  color: #dfdced;
  background: #8366b6;
}

.loginBtn:hover {
  background-color: #8366b6;
}

.title {
  color: #dfdfdf;
  font-size: 45px;
  font-family: 'Unlock', cursive;
  text-shadow: 1px 1px 1px #000;
  margin: 0 auto;
  padding-right: 200px;
}

.imgLogo, .imgLogo:focus {
  width: 50px;
  height: 50px;
  opacity: 1;
  margin: 10px auto auto;
  border-color: transparent;
  outline: 0;
}

.twitchLogo{
  width: 20px;
  height: 20px;
  border-color: transparent;
  outline: 0;
}

.hamburger {
  color: #ffffff95;
}

.chevron_right {
  font-size: 25px;
}

.loggedIn {
  color: #FFFFFF;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}
