@import url('https://fonts.googleapis.com/css?family=Raleway:300');
@import url('https://fonts.googleapis.com/css?family=Unlock');

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: #283044;
  position: absolute;
  box-shadow: 0px 0px 1px #000;
}

.mat-toolbar {
  background: #9B2915;
  position: absolute;
  height: 78px;
  box-shadow: 0px 0px 1px #000;
  z-index: 1;
}

.navBtn {
  color: #ffffffcf;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  background-color: transparent;
  border: transparent;
}

.spacer {
  flex: 1 auto;
}

.navBtn:focus {
  outline: 0;
}

.navBtn:hover{
  color: #dfdced;
  background: #574c88;
}

.title {
  color: #dfdfdf;
  font-size: 45px;
  font-family: 'Unlock', cursive;
  text-shadow: 1px 1px 1px #000;
}

.imgLogo {
  width: 50px;
  height: 50px;
  opacity: 1;
  margin: auto auto;
  margin-top: 10px;
}

.hamburger {
  color: #ffffff95;
}

.chevron_right {
  font-size: 25px;
}
