<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               class="sidenav"
               fixedInViewport="false"
               [attr.role]="isHandset$ ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <img
      fxLayoutAlign="center"
      class="imgLogo"
      src="assets/imgs/logo.png"
      alt="UlleChampLogo"
      routerLink="/">
    <mat-nav-list>
      <hr>
      <a mat-list-item class="loginBtn">
        <img
          fxLayoutAlign="center center"
          class="twitchLogo"
          src="assets/imgs/twitchLogo.png"
          alt="TwitchLogo">
        <span class="spacer"></span>
        Login med Twitch</a>
      <hr>
      <a mat-list-item routerLink="/" class="navBtn">Hjem</a>
      <a mat-list-item class="navBtn" (click)="toggleInHouse()">InHouse
        <span class="spacer"></span>
        <mat-icon>expand_more</mat-icon>
      </a>
      <span *ngIf="inhouseActive">
        <a
          mat-list-item
          class="navBtn dropdown"
          routerLink="/rules">
          <mat-icon class="chevron_right">chevron_right</mat-icon>Regler</a>
        <a
          mat-list-item
          class="navBtn dropdown"
          routerLink="/trophy-room">
          <mat-icon class="chevron_right">chevron_right</mat-icon>Pokal Liste</a>
        <a
          mat-list-item
          class="navBtn dropdown"
          routerLink="/leaderboard">
          <mat-icon class="chevron_right">chevron_right</mat-icon>Rang Liste</a>
      </span>
      <a mat-list-item routerLink="/calender" class="navBtn">Kalender</a>
      <a mat-list-item class="navBtn">Tilmelding</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon" class="hamburger">menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <span class="title">InHouse 5v5</span>
      <span class="spacer"></span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
