<div class="container"
      fxLayout="column"
      fxFill
      fxLayoutGap="50px">
  <div></div>
  <div fxLayout="row"
       fxLayoutAlign="space-around center">
    <mat-toolbar class="navBar">
      <div fxLayoutAlign="start center">
        <div class="allNavBtns">
          <button mat-button class="navBtn">Hjem</button>
          <button mat-button class="navBtn">InHouse</button>
          <button mat-button class="navBtn">Kalender</button>
          <button mat-button class="navBtn">Tilmelding</button>
        </div>
      </div>

      <div fxLayoutAlign="center center"
           class="navLogo">
        <div>
          <img class="imgLogo" src="assets/imgs/logo.png" alt="UlleChampLogo">
        </div>
      </div>

      <div fxLayoutAlign="center center"
           class="hungry">

          <img class="imgHungry" src="assets/imgs/hungry.png" alt="HungrySponsor">

      </div>
      <div fxLayoutAlign="end center" class="kontakt">
        <button mat-button class="navBtn">Kontakt</button>
      </div>
    </mat-toolbar>
  </div>
  <div></div>
</div>
